<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MyWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2190/MyWebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="MyWebServiceSoap" contract="MyWebService.MyWebServiceSoap"
                name="MyWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>